aws_region    = "eu-south-2"
project_name  = "portal-citas"
environment   = "demo"
owner_tag     = "equipo"

image_uri = "316348991289.dkr.ecr.eu-south-2.amazonaws.com/portal-citas-api:1.0"

admin_token = "admin123"

db_name     = "appointments"
db_username = "postgres"